canvas {
    height: 500px;
    
}
h1{
font-family: 'Comforter', cursive;
text-align: center;
font-size: 64px;
}

h3{
    font-family: 'Comforter', cursive;
text-align: center;
}
a{
    color: black;
}

a:hover{
    color: orangered ;
}

a:link {
    text-decoration: none;
}
